<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<!-- <form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form> -->
<a href="/auth/google" role="button">Login using google account</a>

<!-- <h4>You can also use one of these...</h4>

<% Object.keys(providers).forEach(function (key) { %>
  <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
<% }) %> -->
